<!doctype html>
{% load staticfiles %}
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{% block head_title %}Roma blog{% endblock head_title %}</title>
  <link rel="shortcut icon" type="image/png" href='{% static "favicon.ico" %}'/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel='stylesheet' href='{% static "css/bootstrap.min.css" %}'/>
  <link rel='stylesheet' href='{% static "css/style.css" %}'/>

  {% block head_extra %} {% endblock head_extra %}
</head>
<body>
<div class="container">
  {% block content %}
  {% endblock %}
</div>

{# back to top #}
<div id="toTopWrapper">
  <div id="toTop">
    <svg class="icon-svg icon-svg_scroll-up" width="32" height="32" viewBox="0 0 32 32" aria-hidden="true" version="1.1"
         role="img">
      <path transform="rotate(90, 16, 16)" d="m27.2,6.2-10.4,10l10.4,10l-6,5.8l-16.4,-16l16.4,-16"></path>
    </svg>
  </div>
</div>
{# end back to top #}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>
<script src='{% static "js/bootstrap.min.js" %}'></script>
<script src='{% static "js/script.js" %}'></script>

{% include 'posts/messages_display.html' %}
</body>
</html>