{% extends 'posts/base.html' %}

{% block head_title %}{{ instance.title }} {{ block.super }} {% endblock head_title %}

{% block content %}

<div class="content">
  {% for obj in object_list %}
  <div class="item item-list">
    <h1 class="title">{% if obj.draft %}[ DRAFT ] {% endif %}
      <a href="{{ obj.get_absolute_url }}">{{ obj.title|upper }}</a>
    </h1>
    <hr>
    <img src="{{ obj.image }}" alt="">
    <p class="description">{{ obj.description }}
      <a href="{{ obj.get_absolute_url }}">Читать дальше</a>
    </p>
    <br>
    <div class="date">
      <p>{{ obj.timestamp|timesince }} назад</p>
    </div>
  </div>
  {% empty %}
  <div class="item empty-item-list">
    <h2>По запросу "{{ request.GET.q }}" ничего не найдено</h2>
  </div>
  {% endfor %}
</div>

<div class="pagination center">
  <span class="step-links">
    {% if object_list.has_previous %}
      <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><</a>
    {% endif %}

    <span class="current">
      Страница {{ object_list.number }} из {{ object_list.paginator.num_pages }}
    </span>

    {% if object_list.has_next %}
      <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">></a>
    {% endif %}
  </span>
</div>

{% endblock content %}
