{% extends 'posts/base.html' %}

{% block head_title %}{{ instance.title }} | {{ block.super }} {% endblock head_title %}

{% block head_extra %}
{{ form.media }}
{% endblock head_extra %}

{% block content %}

<dir class="pathPointers">
  <a href='{{ instance.get_absolute_url }}'>К посту</a>
  <a href="{% url 'posts:list' %}">На главную</a>
</dir>

<!--<h1>Создание/Редактирование поста</h1>-->

<input id="tab1" type="radio" name="tabs" checked>
<label class="tabLabel" for="tab1">Редактирование</label>

<input id="tab2" type="radio" name="tabs">
<label class="tabLabel" for="tab2">Предпросмотр</label>

<section id="content1">
  <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Create Post" name="" id="">
  </form>
</section>

<section id="content2">
  <h3 id='preview-title'></h3>
  <p id='preview-content'></p>
</section>

<div class="delete-post">
  <a class="center" href='{{ instance.get_delete_url }}'><h3>Удалить пост</h3></a>
</div>

{% endblock content %}