{% extends 'posts/base.html' %}

{% block head_title %}{{ instance.title }} {{ block.super }} {% endblock head_title %}

{% block content %}

  {% include "posts/header.html" %}

  <div id="searchWrapper">
    <form class="search-form" action="" method="get">
      <input type="text" name="q" id="search" placeholder="Поиск постов по содержанию и описанию"
             value="{{ request.GET.q }}">
      <input type="submit" name="action" value="Поиск">
    </form>
  </div>

  {% for obj in object_list %}
    <div class="post">
      <h2><a href='{{ obj.get_absolute_url }}'>{% if obj.draft %}[ DRAFT ] {% endif %}{{ obj.title|upper }}</a><br></h2>
      <p><b>{{ obj.user }}</b> опубликовал: <b>{{ obj.timestamp|timesince }}</b> назад</p>
      <img src="{{ obj.image }}">
      <p><i>{{ obj.description }}</i> <a href='{{ obj.get_absolute_url }}'>Читать дальше</a></p>
    </div>
  {% endfor %}

  <div class="pagination center">
    <span class="step-links">
      {% if object_list.has_previous %}
        <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Предыдущая</a>
      {% endif %}

      <span class="current">
        Страница {{ object_list.number }} из {{ object_list.paginator.num_pages }}.
      </span>

      {% if object_list.has_next %}
        <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Следующая</a>
      {% endif %}
    </span>
  </div>

{% endblock content %}
