<!doctype html>
{% load staticfiles %}

<html lang="ru">
<head>
	<meta charset="utf-8">
	<title>{% block head_title %}BP's blog{% endblock head_title %}</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="{% static 'frontend_blog/favicon.ico' %}"/>
	<link rel="stylesheet" href="{% static 'frontend_blog/css/style.css' %}"/>

  {% block head_extra %} {% endblock head_extra %}
</head>
<body>
  <div id="page-preloader">
    <span class="spinner"></span>
  </div>

	<div class="container">
    {% include "frontend_blog/header.html" %}
    {% block content %}{% endblock %}

		<!-- TODO: sdelat' dinamicheskuu imajku mojno -->
		<div class="backdrop"></div>
    {% include "frontend_blog/footer.html" %}
	</div>
  <script src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
  <script src='{% static "frontend/js/script.js" %}'></script>
  {% block scripts %}
  {% endblock %}
  {% include 'frontend_blog/messages_display.html' %}
</body>
</html>