* {
  font-family: Arial;
}

a {
  text-decoration: none !important;
}

.container {
  /*margin: 0 auto;*/
  /*width: 70%;*/
  max-width: 800px;
}

.layout__elevator {
  position: fixed;
  top: 48vh;
  left: 10px;
}

.post {
  padding: 0 20px 10px;
  margin-top: 10px;
  margin-bottom: 25px;
  border: 1px solid black;
  /*box-shadow: 1px 1px 10px #005361;*/
}

.post img {
  width: 100%;
}

input, textarea {
  border: 1px solid black;
  /*-webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);*/
  /*-moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);*/
  /*box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);*/
  padding: 10px;
  background-color: white;
  margin: 0 0 10px 0;
  width: 100%;
}

.wmd-panel {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

input[type='submit'] {
  cursor: pointer;
}

input[type='submit']:hover {
  color: white;
  background-color: black;
  transition-duration: .5s;
}

input[type='checkbox'] {
  width: inherit;
}

.center {
  width: 100%;
  text-align: center;
}

/* upper */
#toTopWrapper {
  width: 55px;
  height: 100%;
  background-color: lightgrey;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  opacity: .3;
}

#toTopWrapper:hover {
  opacity: .6;
  transition-duration: 2s;
}

#toTop {
  position: fixed;
  top: 45vh;
  left: 10px;
}

/* end upper */

.wmd-preview img {
  width: 100%;
}

.wmd-preview {
  padding: 10px;
}

.content-form, .content-preview {
  display: inline-block;
  width: 49%;
}

/*search form*/
form.search-form input[type='text'] {
  width: 74%;
}

form.search-form input[type='submit'] {
  float: right;
  width: 25%;
}

/*end search form*/

/*pagination*/
.pagination {
  margin-top: 0;
}

/*end pagination*/