* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: BebasNeueRegular;
    src: url('../fonts/9115.otf');
}

body {
    background-color: #cfd8dc;
    font-family: 'Open Sans', Helvetica, Arial;
    font-size: 0.8em;
    color: #212121;
}

a, a:visited, a:active {
    color: #455a64;
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: "BebasNeueRegular", Helvetica, Arial;
}

h1 {
    color: #455a64;
    font-size: 1.5em;
}

div.blog-title h2 {
    font-size: 1.7em;
    color: white;
}

hr {
    margin-top: 5px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1.5px solid #ddd;
}

img {
    max-width: 100%;
    display: block;
    margin: auto;
}

.header {
    padding-top: 10px;
    background-color: #03a9f4;
}

.menu {
    background-color: #03a9f4;
    padding-top: 10px;
    border-bottom: 3px solid #BDBDBD;
    z-index: 1000;
}

.navigation {
    display: inline-block;
    height: 25px;
}

.navigation li{
    font-family: "BebasNeueRegular", Helvetica, Arial;
    display: inline;
    color: white;
    font-size: 1.3em;
    margin-right: 10px;
}

div.search-wrapper {
    display: inline-block;
    float: right;
}

div.search-icon {
    display: inline-block;
    float: right;
    height: 15px;
    width: 15px;
    cursor: pointer;
    background-size: cover;
    background-image: url('../pics/search-icon.png');
}


.container {
    max-width: 500px;
    margin: 5px auto;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.item {
    position: relative;
    display: block;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: white;
    padding: 20px;
    padding-bottom: 5px;
    z-index: 1;
}

.item-list {
    padding-bottom: 20px;
}

.date {
    position: absolute;
    bottom: 10px;
    right: 0;
    color: #455a64;
    background-color: #f1f1f1;
    padding: 2px 5px;
}

.description {
    margin-top: 15px;
}

.tags {
    margin-top: 10px;
}

.tags p {
    display: inline;
    background-color: #607d8b;
    color:white;
    padding: 3px 10px;
    border-radius: 5px;
    line-height: 25px;
}

.footer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.footer-link {
    display: inline-block;
    width: 25%;
}

.fixed {
    margin: auto;
    width: 100%;
    position:fixed;
    top:0;
}

/* comments */
.comment {
  border: 1px solid rgb(235,235,235);
  background-color: rgb(245,245,245);
  padding: 5px 15px 10px 15px;
  margin-bottom: 7px;
}
/* end comments */

.updated {
  margin-top: 20px;
}

#comment_form input,
#post_form input, 
textarea, 
input[type="submit"] {
  border: 1px solid #ddd;
  background-color: white;
  margin: 0 0 10px 0;
  width: 100%;
  color: black;
  font-family: 'Open Sans', Helvetica, Arial;
  font-size: 0.8em;
  min-height: 25px;
  box-sizing: border-box;
  padding: 5px 10px;
}

input[type="checkbox"] {

}

input:hover {
    background-color: black;
    color: white;
}

.center {
    text-align: center;
}

/* search field */
input.search-field {
    max-width: 200px;
    display: block;
    color: white;
    background-color: #7aadff;
    border: 0px solid black;
    height: 18px;
    padding: 0px 10px;
}

input.search-field:focus {
    box-shadow: 0px 0px 10px white;
    background-color: white;
    color: grey;
}
/* end search field*/

/*wmd*/
.wmd-panel {
    box-sizing: border-box;
    margin: 0px !important;
    min-width: 100% !important;
}
/*endwmd*/

/* post editor tabs */
section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid grey;
}

input#tab1, input#tab2 {
  display: none;
}

label.tabLabel {
  cursor:pointer;
  display: inline-block;
  margin: 0 0 -1px;
  padding: 5px 10px;
  text-align: center;
  border: 1px solid transparent;
}

input:checked + label {
  color: #555;
  border: 1px solid grey;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2 {
  display: block;
}
/* end post editor tabs*/

/* content */
.content-markdown > *,
#preview-content > * {
    margin: 15px 0px;
}

/* Preloader */

#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 100500;
}

#page-preloader .spinner {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: url('../pics/preloader.gif') no-repeat 50% 50%;
    background-size: cover;
    /* background: url('../favicon.ico') no-repeat 50% 50%; */
    margin: -40px 0 0 -40px;
}