/*s etogo momenta nachinaetsya novaya*/
* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: BebasNeueRegular;
    src: url('../fonts/9115.otf');
}

body {
    background-color: #cfd8dc;

    font-family: 'Open Sans', Helvetica, Arial;
    font-size: 0.8em;
    color: #212121;
}

a {
    text-decoration: none;
}

h1 {
    font-family: "BebasNeueRegular", Helvetica, Arial;
    color: #455a64;
    font-size: 1.5em;
}

h2 {
    font-family: "BebasNeueRegular", Helvetica, Arial;
    font-size: 1.7em;
    color: white;
}

hr {
    color: green;
    margin-top: 5px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1.5px solid #ddd;
}

img {
    max-width: 100%;
    display: block;
    margin: auto;
}

.header {
    padding-top: 10px;
    background-color: #03a9f4;
}

.menu {
    background-color: #03a9f4;
    padding-top: 10px;
    border-bottom: 3px solid #BDBDBD;
    z-index: 1000;
}

.navigation {
    display: inline-block;
    height: 25px;
}

.navigation li{
    font-family: "BebasNeueRegular", Helvetica, Arial;
    display: inline;
    color: white;
    font-size: 1.3em;
    margin-right: 10px;
}

div.search-wrapper {
    display: inline-block;
    float: right;
}

div.search-icon {
    display: inline-block;
    float: right;
    height: 15px;
    width: 15px;
    cursor: pointer;
    background-size: cover;
    background-image: url('../pics/search-icon.png');
}

input.search-field {
    max-width: 200px;
    text-align: center;
    display: block;
    color: white;
    background-color: #7aadff;
    border: none;
    height: 18px;
    padding: 0px 10px;
    border-radius: 5px;
}

input.search-field:focus {
    box-shadow: 0px 0px 10px white;
    background-color: white;
    color: grey;
}

.container {
    max-width: 500px;
    margin: 5px auto;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.item {
    position: relative;
    display: block;
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: white;
    padding: 20px;
    padding-bottom: 35px;
    z-index: 1;
}

.date {
    position: absolute;
    bottom: 10px;
    right: 0;
    color: #455a64;
    background-color: #f1f1f1;
    padding: 2px 5px;
}

.description {
    margin-top: 15px;
}

.tags {
    margin-top: 10px;
}

.tags p {
    display: inline;
    background-color: #607d8b;
    color:white;
    padding: 3px 10px;
    border-radius: 5px;
    line-height: 25px;
}

.footer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.footer-link {
    display: inline-block;
    width: 25%;
}

.fixed {
    margin: auto;
    width: 100%;
    position:fixed;
    top:0;
}

/* comments */
.comment {
  border: 1px solid rgb(235,235,235);
  padding: 0px 20px 0px 20px;
  margin-bottom: 7px;
  background-color: rgb(245,245,245);
}
#show_comment_form {
  font-size: 1.5em;
}

/* end comments */

.updated {
  margin-top: 20px;
}