{% extends 'frontend/base.html' %}

{% block head_title %}{{ object.title }} | {{ block.super }} {% endblock head_title %}

{% block content %}

<div class="about">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam dolore eum eveniet exercitationem fugiat illo, ipsam nihil quaerat reprehenderit repudiandae totam ullam, voluptatibus. Aut deserunt nemo quo voluptatum! Fugit?</p>
  <br><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam dolore eum eveniet exercitationem fugiat illo, ipsam nihil quaerat reprehenderit repudiandae totam ullam, voluptatibus. Aut deserunt nemo quo voluptatum! Fugit?</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam dolore eum eveniet exercitationem fugiat illo, ipsam nihil quaerat reprehenderit repudiandae totam ullam, voluptatibus. Aut deserunt nemo quo voluptatum! Fugit?</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam dolore eum eveniet exercitationem fugiat illo, ipsam nihil quaerat reprehenderit repudiandae totam ullam, voluptatibus. Aut deserunt nemo quo voluptatum! Fugit?</p>
  <br><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam dolore eum eveniet exercitationem fugiat illo, ipsam nihil quaerat reprehenderit repudiandae totam ullam, voluptatibus. Aut deserunt nemo quo voluptatum! Fugit?</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam dolore eum eveniet exercitationem fugiat illo, ipsam nihil quaerat reprehenderit repudiandae totam ullam, voluptatibus. Aut deserunt nemo quo voluptatum! Fugit?</p>
</div>

{% endblock content %}